# Ignore model checkpoints and data files
*.pt
*.ckpt
*.pickle

# Ignore zip archives
*.zip

# data
generated_samples
raw_data
venv
.env
__pycache__
.DS_Store

# Ignore specific files
!rebMIGraph/TSTS.py
rebMIGraph/**