# Ignore model checkpoints and data files
*.pt
*.ckpt

# Ignore zip archives
*.zip

# data
generated_samples
raw_data
venv
.env
__pycache__
.DS_Store

# Ignore all files in rebMIGraph
rebMIGraph/**

# Except these files
!rebMIGraph/TSTS.py
!rebMIGraph/bridge.py
!rebMIGraph/resultfile**
!rebMIGraph/rebmi_adapter.py